<mat-toolbar>
  <button mat-icon-button color="" (click)="logOut()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side" opened>
    <ul>
      <li class="navigation__item">
        <mat-icon>dashboard</mat-icon> <button mat-button routerLink="admin/dashboard">Зведення</button>
      </li>
      <li class="navigation__item">
        <mat-icon>task</mat-icon><button mat-button routerLink="admin/appeals">Звернення</button>
      </li>
      <li class="navigation__item">
        <mat-icon>group</mat-icon><button mat-button routerLink="admin/users">Користувачі</button>
      </li>
      <li class="navigation__item">
        <mat-icon>chat</mat-icon><button mat-button routerLink="admin/chat">Чат</button>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
